<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
  <div class="about content">
    <h2>About US</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, error accusantium? Dicta distinctio sequi suscipit, earum autem repellat similique magni blanditiis praesentium, dolor ducimus facilis voluptates, eos quos. Nesciunt, ad.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, error accusantium? Dicta distinctio sequi suscipit, earum autem repellat similique magni blanditiis praesentium, dolor ducimus facilis voluptates, eos quos. Nesciunt, ad.</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quod, error accusantium? Dicta distinctio sequi suscipit, earum autem repellat similique magni blanditiis praesentium, dolor ducimus facilis voluptates, eos quos. Nesciunt, ad.</p>
</div>

</body>
<%- include('./partials/footer.ejs')%>
</html>